/*日志管理*/
.vspace_30{height:10px;	font-size:0px;	line-height:0px;	width:99%;	clear:both;}
.jgyhxxbgsh{ width:615px; margin:0 auto;}
.jgyhxxbgsh dl{ margin-top:43px;}
.jgyhxxbgsh dl dt{ text-align:center; padding-top:11px; padding-bottom:18px; font-size:14px; font-weight:normal;}
.jgyhxxbgsh dl dd{ height:28px;}
.jgyhxxbgsh dl dd span{ width:75px; display:inline-block; text-align:right; padding-right:15px;}
.jgyhxxbgsh dl dd em{ padding-left:80px;}
.jgyhxxbgsh dl dd .select1{ width:76px; border:1px solid #e6e6e6;}
.jgyhxxbgsh dl dd .select2{ width:118px; border:1px solid #e6e6e6;}
.jgyhxxbgsh dl dd .select3{ width:85px; border:1px solid #e6e6e6;}
.jgyhxxbgsh dl dd .text{width:317px; border:1px solid #e6e6e6;}
.jgyhxxbgsh dl dd .text1{ width:66px; border:1px solid #e6e6e6;}
.jgyhxxbgsh dl dd .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.jgyhxxbgsh table{ width:594px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin-top:6px;}
.jgyhxxbgsh table tr{width:594px;}
.jgyhxxbgsh table tr td em{ float:left; padding-left:0px; width:200px;}
.jgyhxxbgsh table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.jgyhxxbgsh table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.jgyhxxbgsh table tr.gruy{ background:#f2f2f2;}
.jgyhxxbgsh table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.jgyhxxbgsh table tr td.num_5 a { color: #002366; text-decoration: underline;}

#chakan{ background:#f4f4f4; }
.chakan {width:465px; margin:35px auto 0px;}
.chakan table{ width:450px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin-top:6px;}
.chakan table tr{width:450px; background:#fff;}
.chakan table tr td em{ float:left; padding-left:0px; width:200px;}
.chakan table tr .red{ background:red;}
.chakan table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.chakan table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.chakan table tr.gruy{ background:#f2f2f2;}
.chakan table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.chakan .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.chakan .button1{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.chakan .button2{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
























