/*不同意*/
.tuichu { width:752px; margin:16px auto 0px;}
.tuichu .top{ height:38px;}
.tuichu .top h1 span{ font-size:32px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:14px;}
.tuichu .top h1 em{font-size:16px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:24px; padding-top:18px;}
.tuichu .content{ width:748px; height:421px; border:2px solid #fd6d6d; background:#f9f9f9; text-align:center; line-height:421px; font-size:24px;}

.tuichu .bottom{ height:20px; background:url(img/dibiao.jpg) no-repeat 0 0;}













