/*发送激活邮箱*/
.vspace_30{height:30px;	font-size:0px;	line-height:0px;	width:99%;	clear:both;}
.jjihuoyouxiangneirong { width:752px; margin:16px auto 0px;}
.jjihuoyouxiangneirong .top{ height:48px;}
.jjihuoyouxiangneirong .top h1 span{ font-size:32px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:14px;}
.jjihuoyouxiangneirong .top h1 em{font-size:16px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:24px; padding-top:18px;}
.jjihuoyouxiangneirong .content{ width:748px; height:420px; border:2px solid #fd6d6d; background:#f9f9f9;}
.jjihuoyouxiangneirong .liucheng{ width:661px; height:61px; margin:23px auto 0px; border-bottom:1px solid #fd3e3e;}
.jjihuoyouxiangneirong .xinxi{width:661px; margin:0 auto;}
.jjihuoyouxiangneirong .xinxi p{ width:640px; padding-left:10px; line-height:14px; padding-top:10px;}
.jjihuoyouxiangneirong .xinxi p a{ color:#002366; text-decoration:underline;}

.jjihuoyouxiangneirong .bottom{ height:20px; background:url(img/dibiao.jpg) no-repeat 0 0;}













