/*同意*/
.dengdaishenhe { width:752px; margin:16px auto 0px;}
.dengdaishenhe .top{ height:48px;}
.dengdaishenhe .top h1 span{ font-size:32px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:14px;}
.dengdaishenhe .top h1 em{font-size:16px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:24px; padding-top:18px;}
.dengdaishenhe .content{ width:748px; height:491px; border:2px solid #fd6d6d; background:#f9f9f9;}
.dengdaishenhe .liucheng{ background:url(img/dengdaishenhe.jpg) no-repeat top left; width:661px; height:61px; margin:23px auto 0px; border-bottom:1px solid #fd3e3e;}
.dengdaishenhe .xinxi{width:661px; margin:37px auto 0px; text-align:center;}
.dengdaishenhe .bottom{ height:20px; background:url(img/dibiao.jpg) no-repeat 0 0;}













