/*发送激活邮箱*/
.jfsjhyx { width:752px; margin:16px auto 0px;}
.jfsjhyx .top{ height:48px;}
.jfsjhyx .top h1 span{ font-size:32px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:14px;}
.jfsjhyx .top h1 em{font-size:16px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:24px; padding-top:18px;}
.jfsjhyx .content{ width:748px; height:424px; border:2px solid #fd6d6d; background:#f9f9f9;}
.jfsjhyx .liucheng{ background:url(img/fsjhyx.jpg) no-repeat top left; width:661px; height:61px; margin:23px auto 0px; border-bottom:1px solid #fd3e3e;}
.jfsjhyx .xinxi{width:661px; margin:0 auto;}
.jfsjhyx .xinxi p{ text-align:center; padding-top:20px;}
.jfsjhyx .xinxi p a{ color:#002366; text-decoration:underline;}

.jfsjhyx .bottom{ height:20px; background:url(img/dibiao.jpg) no-repeat 0 0;}













