/*党员用户信息变更审核*/
.vspace_30{height:10px;	font-size:0px;	line-height:0px;	width:99%;	clear:both;}
.dyyhxxbgsh{ width:615px; margin:0 auto;}
.dyyhxxbgsh dl{ margin-top:43px;}
.dyyhxxbgsh dl dt{ text-align:center; padding-top:11px; padding-bottom:18px; font-size:14px; font-weight:normal;}
.dyyhxxbgsh dl dd{ height:28px;}
.dyyhxxbgsh dl dd span{ width:75px; display:inline-block; text-align:right; padding-right:15px;}
.dyyhxxbgsh dl dd em{ padding-left:80px;}
.dyyhxxbgsh dl dd .select1{ width:76px; border:1px solid #e6e6e6;}
.dyyhxxbgsh dl dd .select2{ width:118px; border:1px solid #e6e6e6;}
.dyyhxxbgsh dl dd .select3{ width:85px; border:1px solid #e6e6e6;}
.dyyhxxbgsh dl dd .text{width:317px; border:1px solid #e6e6e6;}
.dyyhxxbgsh dl dd .text1{ width:66px; border:1px solid #e6e6e6;}
.dyyhxxbgsh dl dd .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.dyyhxxbgsh table{ width:594px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin-top:6px;}
.dyyhxxbgsh table tr{width:594px;}
.dyyhxxbgsh table tr td em{ float:left; padding-left:0px; width:200px;}
.dyyhxxbgsh table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.dyyhxxbgsh table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.dyyhxxbgsh table tr.gruy{ background:#f2f2f2;}
.dyyhxxbgsh table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.dyyhxxbgsh table tr td.num_5 a { color: #002366; text-decoration: underline;}

#dchakan{ background:#f4f4f4;}
.dchakan {width:640px; margin:10px auto 0px;}
.dchakan table{ width:640px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin: auto;}
.dchakan table tr{width:450px;}
.dchakan table tr td em{ float:left; padding-left:0px; width:200px;}
.dchakan table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.dchakan table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.dchakan table tr td.num_2{ width:210px; height:210px;} 
.dchakan table tr.gruy{ background:#f2f2f2;}
.dchakan table tr .red{ background:red;}
.dchakan table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.dchakan .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.dchakan .button1{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.dchakan .button2{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
























