/*用户帐号黑名单*/
.vspace_30{height:10px;	font-size:0px;	line-height:0px;	width:99%;	clear:both;}
.yhzhhmd{ width:615px; margin:0 auto;}
.yhzhhmd dl{ margin-top:43px;}
.yhzhhmd dl dt{ text-align:center; padding-top:11px; padding-bottom:18px; font-size:14px; font-weight:normal;}
.yhzhhmd dl dd{ height:28px;}
.yhzhhmd dl dd span{ width:75px; display:inline-block; text-align:right; padding-right:15px;}
.yhzhhmd dl dd span.span2{ width:110px; padding-left:42px;}
.yhzhhmd dl dd .text2{ width:180px;  border:1px solid #e6e6e6;}
.yhzhhmd dl dd em{ padding-left:80px;}
.yhzhhmd dl dd .select1{ width:76px; border:1px solid #e6e6e6;}
.yhzhhmd dl dd .select2{ width:118px; border:1px solid #e6e6e6;}
.yhzhhmd dl dd .select3{ width:85px; border:1px solid #e6e6e6;}
.yhzhhmd dl dd .text{width:317px; border:1px solid #e6e6e6;}
.yhzhhmd dl dd .text1{ width:66px; border:1px solid #e6e6e6;}
.yhzhhmd dl dd .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.yhzhhmd table{ width:594px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin-top:6px;}
.yhzhhmd table tr{width:594px;}
.yhzhhmd table tr td em{ float:left; padding-left:0px; width:200px;}
.yhzhhmd table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.yhzhhmd table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.yhzhhmd table tr.gruy{ background:#f2f2f2;}
.yhzhhmd table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.yhzhhmd table tr td.num_5 a { color: #002366; text-decoration: underline;}






















