/*注册用户审核*/
.zcyhsh{ width:605px; margin:0 auto;}
.zcyhsh h1{ font-size:12px; font-weight:normal; height:28px; line-height:28px; margin-top:35px;}
.zcyhsh h1 .text{ width:135px; border:1px solid #d9d9d9;}
.zcyhsh h1 .submit1{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer;}
.zcyhsh h2 { margin-top:45px;}
.zcyhsh h2 input{width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer; margin-left:30px;} 
.zcyhsh h2 input.button1{margin-left:0px;;}
.zcyhsh h3 { margin-top:15px;}
.zcyhsh h3 input{width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer; margin-left:30px;} 
.zcyhsh h3 input.button1{margin-left:0px;}
.zcyhsh table{ width:600px; border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4; margin-top:15px;}
.zcyhsh table tr{width:594px;}
.zcyhsh table tr td em{ float:left; padding-left:0px; width:200px;}
.zcyhsh table tr td b{ width:150px; float:right; font-weight:normal; padding-right:30px;}
.zcyhsh table tr th{ height:40px;  font-size:18px; border-bottom:2px solid #b3b3b3;border-right:1px solid #d4d4d4; font-weight:normal; text-align:center;}
.zcyhsh table tr.gruy{ background:#f2f2f2;}
.zcyhsh table tr td{ height:24px; text-align:center;border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.zcyhsh table tr td.num_5 a { color: #002366; text-decoration: underline;}


























