/*业务参数设置*/
.yewucanshushezhi{ width:655px; margin:37px auto 0px;}
.yewucanshushezhi .one{ height:105px;width:655px; border-bottom:2px solid #ffc0c0;}
.yewucanshushezhi .one .shu{ width:165px;margin-left:35px; float:left;}
.yewucanshushezhi .one .shu span{ width:32px; text-align:center; line-height:32px; font-size:14px; font-weight:bold; color:#878787; height:32px; display:inline-block;background:url(img/shubg.gif) no-repeat 0 0; }
.yewucanshushezhi .one .shenhe{ float:left;}
.yewucanshushezhi .one .shenhe dl{ padding-top:8px;}
.yewucanshushezhi .one .shenhe dl dd span{ width:105px;}
.yewucanshushezhi .one .shenhe dl dd .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer; margin-left:90px; margin-top:25px;}
.yewucanshushezhi .two { margin-top:55px;}
.yewucanshushezhi .two .shu{ width:165px;margin-left:35px; float:left;}
.yewucanshushezhi .two .shu span{ width:32px; text-align:center; line-height:32px; font-size:14px; font-weight:bold; color:#878787; height:32px; display:inline-block;background:url(img/shubg.gif) no-repeat 0 0; margin-top:28px;}
.yewucanshushezhi .two .xianzhi{ float:left;}
.yewucanshushezhi .two .xianzhi dl dd{ padding-top:20px;}
.yewucanshushezhi .two .xianzhi dl dd .text{ width:65px; border:1px solid #e5e5e5;}
.yewucanshushezhi .two .xianzhi dl dd .submit{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer; margin-left:70px;}
.yewucanshushezhi .two .xianzhi dl dd .submit1{ width:86px; height:28px; background:url(img/chaxunbg.jpg) no-repeat 0 0; font-size:14px; font-family:"微软雅黑"; color:#fff; border:none; cursor:pointer; margin-left:42px;}





















