/*发送激活邮箱*/
.jihuowancheng { width:752px; margin:16px auto 0px;}
.jihuowancheng .top{ height:48px;}
.jihuowancheng .top h1 span{ font-size:32px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:14px;}
.jihuowancheng .top h1 em{font-size:16px; color:#c1272d; font-family:"微软雅黑"; font-weight:normal; float:left; padding-left:24px; padding-top:18px;}
.jihuowancheng .content{ width:748px; height:420px; border:2px solid #fd6d6d; background:#f9f9f9;}
.jihuowancheng .liucheng{ background:url(img/jihuowancheng.jpg) no-repeat top left; width:661px; height:61px; margin:23px auto 0px; border-bottom:1px solid #fd3e3e;}
.jihuowancheng .xinxi{width:661px; margin:0 auto;}
.jihuowancheng .xinxi p{ text-align:center; padding-top:40px;}
.jihuowancheng .xinxi p a{ color:#002366; text-decoration:underline;}

.jihuowancheng .bottom{ height:20px; background:url(img/dibiao.jpg) no-repeat 0 0;}













